@import "./colors.scss";

.auth {
    height: 100vh;
    width: 85vw;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: $white;
    input {
        width: 37.5%;
        margin-top: 10px;
    }
}

/* .sand {
  height: 400px;
  width: 100%;
  background-image: url("/assets/sand.jpg");
} */