$aqua: #69ccda;
$teal: #0c9db0;
$white: #fff;
$dark-gray: #4d4d4d;
$medium-gray: #948a85;
$light-gray: #f3f2f1;
$dark-orange: #fba414;
$light-orange: #fcb036;
$dark-blue: #0483cf;
$light-blue: #05a0fa;
$dark-green: #a9ca35;
$light-green: #bbd45e;
$dark-yellow: #fed511;
$light-yellow: #fedc34;
$dark-red: #fd1d52;
$light-red: #fd3564;