.App {
  text-align: center;
}

.App-header {
  height: 80px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #000;
  color: white;
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
