header, .item-card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form, .item-card {
  margin: 25px;
}

.list {
  width: 75%;
  border: 2px solid  #69ccda;
  line-height: 36px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

.item-card {
  background-color: #69ccda;
}

button, .logout, section, .react-icons, .react-link, .hamburger-icon, .tile-container div {
  cursor: pointer;
}

.filter {
  text-align: center;
}

.float-left {
  float: left;
}

.clear-float {
  clear: both;
}

/* .react-link:link {
  text-decoration: none;
}

.react-link:hover {
  color: #fba414;
  text-shadow: .25px .25px #fff;
} */

/* 
.react_link:visited {
  color: #4d4d4d;
}
.react_link:active {
  color: #4d4d4d;
} */